<header class="uw-header" role="banner">

  <div class="uw-header__wrapper">
    {% include '@uw_news_theme/layout/site-logo/site-logo.html.twig' %}
  </div>

  {% include '@uw_news_theme/components/color-bar/color-bar.html.twig' with {
    'faculty': faculty
  }%}
</header>


